/* :root {
    --main-color: orange;
    --main-ff: 'Roboto Mono', monospace;
    --fw-light: 300;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-475: .75rem;
    --fs-500: 1rem;
    --fs-550: 1.5rem;
    --fs-600: 2rem;
}*/

body {
    text-align: center;
    font-size: 1rem;
    line-height: 1.4;

}

/*html {
    background: var(--main-color);
    border: 1px solid black;
}

h1 {
    font-family: var(--main-ff);
    font-weight: var(--fw-bold);
    font-size: var(--fs-600);
}

p{
    font-size: var(--fs-550);
    font-weight: var(--fw-light);
    margin-top: .25em;
}

a[data-tool-tip] {
    position: relative;
}

a[data-tool-tip]::after {
    content: attr(data-tool-tip);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    padding: 1em 3em;
    border-radius: 5px;
    background: gray;
    font-size: var(--fs-500);
    color: white;
    white-space: nowrap;
    transform: scale(0);
    transition: transform ease-out 150ms,
        bottom ease-out 150ms;
}

a[data-tool-tip]:hover::after{
    transform: scale(1);
    bottom: 100%;
} */

div > a {
    position: relative;
}

div > a::after{
    padding: .5em 1em;
    background: gray;
    content: 'Nothing';
    display: block;
    position: absolute;
    transform: scale(0);
    bottom: 0;
    left: 0;
    right: 0;
    color: green;
    transition: transform ease-out 150ms,
    bottom ease-out 150ms;
    border-radius: 5px;
    width: 30px;
}

div > a:hover::after{
    transform: scale(1);
    bottom: 100%;
}